@import url(https://db.onlinewebfonts.com/c/f394894fe9d2c0473c80ab24dd9bcda5?family=Human+BBY+Web);

* {
    font-family: "Human BBY Digital", "Human Fallback", Arial,
    Helvetica, sans-serif;
}

#main_footer{
    background-color: #f0f2f4;
}

#company_support_main {
    display: grid;
    width: 100%;
    padding: 1%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    margin: auto;
    /* padding-right: 10px; */
    border: 2px solid red;
}

#company_support_main > div{
    border: 2px solid blue;
}

#company_support_main > div > h4{
    font-size: 15px;
    font-weight: 600;
}

#company_support_main > div > div > p {
    font-size: 13px;
    font-weight: 400;
    color: blue;
}

.item1 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #3498db; */
}

.item2 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #e74c3c; */
}

.item3 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #2ecc71; */
}

.item4 {
    grid-column: span 1;
    grid-row: span 2;
    width: 100%;
    height: 90;
    padding: 20px;
    /* margin: 5%; */
    margin: auto;
    background-color: white;
}

#social_media > img{
 width: 10%;
 margin: 10px;
 color: blue;
}

.item5 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #9b59b6; */
}

.item6 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #e67e22; */
}

.item7 {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #1abc9c; */
}

#experience {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 13px;
    font-weight: 400;
}

.experiencelink{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#help-topics {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /* background-color: yellowgreen; */
}

#help-topics > div {
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    color: blue;
    text-align: center;
    /* background-color: yellow; */
    font-size: 11px;
    font-weight: 400;
}

#companyrights{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    /* background-color: aquamarine; */
}